
{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div class='navigator text-center'>
	<a href='{{ site.BASE_PATH }}/index.html' title='首页'>&#xf012b;</a>
	<a href='{{ site.BASE_PATH }}/rss.xml' title='RSS订阅'>&#xf01bc;</a>
	<!-- <a href='/me.html' title='关于我'>&#xf00cc;</a> -->
	<a href='{{ site.BASE_PATH }}/series.html' title='系列文章'>&#xf0161;</a>
</div>

<div class='category'>
	<ul>
		{% for cat in site.categories %}
			<li><a href="{{ site.BASE_PATH }}/category.html#{{ cat[0] }}">{{ cat[0] }}<span>{{ cat[1].size }}</span></a></li>
		{% endfor %}
	</ul>
</div>

<div class='tags'>
	{% for tag in site.tags %}
		<a href="{{ site.BASE_PATH }}/tag.html#{{ tag[0] }}" style='font-size:{{ tag[1].size | times: 2 | plus: 15  }}px;'>{{ tag[0] }}</a>
	{% endfor %}
</div>
